.startdiv{
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
}

#header{
    font-size: 75px!important;
}

#startBTN{
    font-family: 'Noto Sans Thai', sans-serif;
    font-size:30px;
    letter-spacing:10px;
    width:20%
}

#Sound{
    font-size:30px;
}

#Acc{
    font-size:25px;
}

.cssdiv{
    height:82%;
}

.foot{
    font-size:25px;
    bottom:0;
    justify-content:center;
    position:fixed;
    background-color:rgb(189, 189, 189);
    width:100%;
    line-height:3;
}